<section class="callout">
  <div>
    <img class="callout__image" src="images/image-founder.webp" alt="" />
    <article class="callout__content">
      <h3>Be the first to test</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque deleniti
        sed ipsum! Deleniti, sit, cupiditate ratione doloremque neque deserunt
        quasi dolore voluptatem mollitia quos, aperiam earum at facilis magni.
        Repellat.
      </p>
      <a class="btn btn--primary callout__btn" href="#">Apply for access</a>
    </article>
  </div>
  <img class="callout__bg-image" src="images/bg-pattern-2.svg" alt="" />
</section>
