<main>
  <article class="feature">
    <section class="feature__point">
      <div class="feature__wrapper">
        <h2 class="feature__header">Actionable insights</h2>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          omnis nihil obcaecati possimus nostrum. Iure ipsum mollitia dolor
          omnis perspiciatis!
        </p>
      </div>
    </section>
    <section class="feature__point">
      <div class="feature__wrapper">
        <h2 class="feature__header">Actionable insights</h2>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          omnis nihil obcaecati possimus nostrum. Iure ipsum mollitia dolor
          omnis perspiciatis!
        </p>
      </div>
    </section>
    <section class="feature__point">
      <div class="feature__wrapper">
        <h2 class="feature__header">Actionable insights</h2>
        <p class="feature__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          omnis nihil obcaecati possimus nostrum. Iure ipsum mollitia dolor
          omnis perspiciatis!
        </p>
      </div>
    </section>
  </article>
</main>
