<header>
  <div class="hero-wrapper">
    <section class="hero">
      <div class="banner">
        <img src="images/logo-light.svg" alt="" />
        <a class="btn btn--secondary" href="#">Apply for access</a>
      </div>
      <h1 class="hero__header">
        Data <span class="hero-underline">tailored</span> to
        <br class="hero--break" />
        your needs
      </h1>
      <a class="btn btn--primary" href="#">Learn more</a>
      <img class="hero__image" src="images/image-hero.webp" alt="" />
    </section>
  </div>
</header>
